.welcome {

    background-image: url(../images/h_img.jpg);
    max-height: 100%;
    max-width: 100%;
    
    }
    .delaniLogo{
        padding-top: 200px;
        padding-left: 750px;
        padding-bottom: 20px;
    }
    
    .delaniMouse{
        padding-left: 800px;
        padding-bottom: 200px;
    }
    
    .welcomeDelani{
        text-align: center;
        color: white;
    }
    .aboutUs{
        text-align: center;
    }
    
    .design, .dev, .product {
        display: none;
    }
    
    .services{
        background-image: url(../images/s_image.jpg);
        max-width: 100%;
        max-height: 100%;
        padding-top: 3px;
        padding-bottom: 200px;
    
    }
    .portfolio{
        text-align: center;
    }
    
    #work1, #work2, #work3 ,#work4, #work5, #work6, #work7, #work8 {
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    #contactUs{
        background-image: url(../images/camera\ \ image.jpg);
        background-size: 100% 100%;
        background-position: center center;
        color: rgb(255, 255, 255);
        border: rgb(255, 255, 255);
        border-color: white;
    }
    .socialIcons {
        padding:30px;
    }
    
    #Name {
        width: 35%;
        margin-left: 230px;
        padding-bottom: 40px;
        background: transparent;
        
    }
    #Email {
        width: 200px;
        margin-right: 200px;
        padding-left: 230px;
        background: transparent;
        
    }
    #comment {
        width: 60%;
        margin-left: 20%;
        background: transparent;
        
    }
    
    .button {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.322);
        padding-top: 2px;
        background: transparent;
        
    }
      .socialIconSpacing {
        padding: 20px;
      }
    